<a href="https://colab.research.google.com/github/Milena-Div/ciclo11-pretalab/blob/main/Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Para a realização desses exercícios, peço que configurem para não aparecer sugestões da IA Gemini*

### A) **Utilizando variáveis, gere uma apresentação curta de sí mesma, como nesse exemplo**:

In [3]:
# Oi! Eu sou a Amanda, tenho 30 anos, moro em Salvador e meu signo é Gêmeos

In [2]:
# Dica: As variáveis podem ser algo como:
nome = 'Amanda'
idade = 30
cidade = 'Salvador'
signo = 'Gêmeos'

In [7]:
# Resposta aqui:

nome = input("Qual é o seu nome? ")
idade = input("Qual é a sua idade? ")
cidade = input("Qual é a sua cidade? ")
signo = input("Qual é o seu signo? ")

print(f'Olá, meu nome é {nome}, tenho {idade} anos, moro em {cidade} e meu signo é {signo}.')

Qual é o seu nome? Milena
Qual é a sua idade? 26
Qual é a sua cidade? SP
Qual é o seu signo? Capricórnio
Olá, meu nome é Milena, tenho 26 anos, moro em SP e meu signo é Capricórnio.



---

### B) **Qual o maior valor dessa lista de gastos?**

In [8]:
gastos = [10.60, 11.99, 5.50, 10, 45.99, 7.50, 4.00]

In [9]:
# O valor mais caro é: 45.99

In [11]:
# Resposta aqui

mais_caro = max(gastos)
print(f"O valor mais caro é: {mais_caro}")

O valor mais caro é: 45.99



---

### C) **Qual a média dessa lista?**:

In [ ]:
numeros = [10,80,50,90,70]

In [ ]:
# A média dos números é: 60.0

In [12]:
# Resposta aqui
numeros = [10,80,50,90,70]

media = sum(numeros) / len(numeros)

print(f"A média é: {media}")

A média é: 60.0



---

### D) **Qual a média final dessas notas, qual a maior e qual a menor nota**

In [ ]:
notas = [10,7.8, 6, 8, 9]

In [ ]:
# A média final é 8.16. A sua maior nota foi 10 e a menor nota foi 6!

In [14]:
notas = [10,7.8, 6, 8, 9]

media = sum(notas) / len(notas)

print(f"A média é: {media}")

maior_nota = max(notas)

print(f"A maior nota é: {maior_nota}")

menor_nota = min(notas)
print(f"A menor nota é: {menor_nota}")

A média é: 8.16
A maior nota é: 10
A menor nota é: 6



---

### E) **Com as mesmas informações do exercício anterior, apresente se a aluna foi APROVADA ou REPROVADA**

*  Se a média for igual ou superior a 6 apresentar a mensagem "Parabéns, você foi APROVADA!"
*  Se a média for menor, apresentar "Não foi dessa vez, infelizmente você foi REPROVADA!"

In [ ]:
# Parabéns você foi aprovada!

In [ ]:
# Resposta aqui

In [34]:
notas = [10,7.8, 6, 8, 9]
Aluna_1 = 10
Aluna_2 = 7.8

if Aluna_1 > 6:
  print(f"Parabéns, você foi APROVADA! Sua nota foi {Aluna_1}")

else:
  print(f"Não foi dessa vez, infelizmente você foi REPROVADA! Sua nota foi {Aluna_1}")

Parabéns, você foi APROVADA! Sua nota foi 10



---

### F) **Desenvolva um programa que realize as quatro operações básicas (adição, subtração, multiplicação e divisão) entre dois números. A usuária deve escolher a operação e inserir os valores**

In [ ]:
#Digite o primeiro número: 10
#Digite o segundo número: 20
#Digite a operação (+, -, *, /): +
#Resultado: 30.0

In [ ]:
# Resposta aqui

In [48]:
pri_num = input("Digite o primeiro número ")
seg_num = input("Digite o segundo número ")
op = input("Digite a operação (+, -, *, /) ")

if op == "+":
    resultado = sum (pri_num + seg_num)
else

Digite o primeiro número 2
Digite o segundo número 3
Digite a operação (+, -, *, /) +

TypeError: unsupported operand type(s) for +: 'int' and 'str'



---

### G) **Faça um Programa que leia três números e mostre-os em ordem decrescente.**

In [ ]:
# Resposta aqui



---

### H) **Faça uma função que retorne o reverso de um número inteiro informado. Por exemplo: 153 -> 351**

In [ ]:
# Resposta aqui

In [50]:
numero = (153)

def reverter_numero(numero):
    numero_reverso = int(str(numero)[::-1])
    return numero_reverso
print(f"O reverso de {numero} é {reverter_numero(numero)}")

O reverso de 153 é 351



---

### I) **Faça um programa que solicite o nome do usuário e imprima-o em formato de escada.**

In [ ]:
#Digite seu nome: amanda
#a
#am
#ama
#aman
#amand
#amanda

In [ ]:
# Resposta aqui